* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #1e1e1e;
  --primary-font: "Quicksand", sans-serif;
  --secondary-font: "Audiowide", sans-serif;
  --radius: 4px;
  --bg-color: #fdfff7;
}

body {
  background-color: #fdfff7;
}
