* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

:root {
  --primary-color: #a48134;
  --secondary-color: #1e1e1e;
  --primary-font: "Quicksand", sans-serif;
  --secondary-font: "Audiowide", sans-serif;
  --radius: 4px;
}

body {
  background-color: red;
}
