.section-add {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  img {
    height: 4rem;
  }
}

.card-fighter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(128, 128, 128, 0.216);
  border-radius: 4px;
  width: 90%;
  padding: 1rem;
  img {
    height: 2rem;
  }
  button {
    background-color: #a40606;
    border: none;
    margin: 0.2rem;
    border-radius: 4px;
  }
}

form {
  display: flex;
}

@media screen and (min-width: 768px) {
  .card-fighter {
    width: 60%;
  }

  dialog {
    margin: auto auto;
    padding: 4rem;
    border-radius: 4px;
    background-color: #a40606;
    color: white;
  }
}
