.fighters-page {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  h3 {
    text-align: center;
    margin: 1rem;
    font-family: var(--secondary-font);
  }
}

.sort {
  text-align: center;
}

.sort-options {
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}

.list-fighters {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: var(--secondary-color);
  }
}
