.all-ranks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
  margin: 0 auto;
}
.rankingscards {
  height: 35rem;
  max-width: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.216);
  padding: 1.5rem;
  border-radius: 4px;
  img {
    height: 28rem;
  }
}
